{% extends "form_layout.html" %}
{% block title %}
    <title>Challan-Overview</title>
{% endblock %}

{% block content %}


    <div class="col-sm-12" style="margin: 10px;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" style="width: 70%; margin: auto; margin-bottom: 10px;">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success! </strong>{{ message }}</div>
        {% endfor %}
    {% endif %}

        <form action="" method="post" name="overview_challan_form" style="max-width: 85%; margin: auto;">
            <h4>
                <label class="label label-default">CHALLAN</label>
            </h4>
             {% csrf_token %}
            <div class="input-group" style="width: 98%;">
                    <input type="text" class="form-control" placeholder="Search Challan" id="challanID" style="color: rgb(192, 192, 192);">
                    <span class="input-group-addon btn btn-primary" id="search_btn">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>                    
            </div>
        </form>
    </div>
    <div style="max-width: 80%; margin: auto;">

        <span id="delete_btn" class="btn btn-primary" role="button" >Delete Selected Assignment</span>
        <a id="edit_btn" class="btn btn-primary" role="button" href="#" style="margin: 10px;">Edit Selected Assignment</a>
        <table id="table_transactions" class="table table-striped table-bordered table-hover
        dataTable no-footer" style="overflow: hidden; line-height: 50%">
            <thead>
            <tr>
                <th>Challan ID</th>
                <th>Date</th>
                <th>Process</th>
                <th>Karigar</th>
                <th style="width: 250px">Product</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>TransactionID</th>
            </tr>
            </thead>
            <tbody id="transactions">

            </tbody>
        </table>
    </div>
{% endblock %}